.Login {
  width: 500px;
  margin: 100px auto;
  padding: 12px;

  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
}
.center_text {
  text-align: center;
}
.circle {
  height: 200;
  width: 200;
  border: 5px solid #c7483f;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}
