version: '3.0'

services:
  db:
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - C:/data/chao-ni-car:/data/db

  backend:
    depends_on:
      - db
    build: backend
    ports:
      - "5000:5000"
    restart: always

  frontend:
    depends_on:
      - backend
    build: frontend
    ports:
      - "3000:3000"
    environment: 
      - API_ENDPOINT=backend
    restart: always
