apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert
    kompose.version: 1.16.0 (0c01309)
  creationTimestamp: null
  labels:
    io.kompose.service: backend
  name: backend
spec:
  replicas: 1
  strategy:
    type: Recreate
  template:
    metadata:
      creationTimestamp: null
      labels:
        io.kompose.service: backend
        workaround: rolling-again
    spec:
      imagePullSecrets:
        - name: gitlab-auth
      containers:
        - image: registry.gitlab.com/phpunch/chow-ni-car/backend:__VERSION__
          imagePullPolicy: Always
          name: backend
          ports:
            - containerPort: 5000
          resources: {}
      restartPolicy: Always
status: {}
