@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */

@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */

@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.center {
  position: relative;
  top: 40%;
  transform: translate(0, -45%);
  text-align: center;
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s;
}

.sec2 {
  background-color: rgb(255, 219, 75);
  height: 800px;
  position: relative;
  text-align: center;
  height: 100vh;
}
.sec3 {
  background-color: rgb(36, 39, 46);
  text-align: center;
  height: 100vh;
}
.explore {
  margin-top: 60px;
}
.texteffect {
  color: rgb(194, 193, 201);
  padding: 12px;
}
.Banner {
  background-color: rgb(36, 39, 46);
  height: 100vh;
  text-align: center;
  width: 100%;
  margin-top: 20px auto;
}
.Div {
  width: 95%;
  /*Center Items*/
  margin-bottom: 50px;
  padding: 10px;
  border-radius: 12px;
}

.Filter {
  width: 60%;
  margin: 20px auto;
  /*Center Items*/
  padding: 15px;
  background-color: rgb(36, 39, 46);
  border-radius: 6px;
}

.Backgroundimg {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

@media (min-width: 200px) and (min-height: 400px) {
  .Backgroundimg {
    padding: 10px 10%;
  }
}

@media (min-width: 600px) and (min-height: 400px) {
  .Backgroundimg {
    padding: 120px 120px;
  }
}

.button {
  margin-top: 40px;
  padding: 15px 25px;
  border-radius: 4px;
  cursor: pointer;
  border: 3px solid rgb(255, 94, 0);
  background: linear-gradient(45deg, rgb(36, 39, 46) 50%, white 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

.button:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(45deg, orangered 50%, transparent 50%);
  z-index: -1;
}

.button,
.button:after {
  background-size: 300%;
  background-position: 100%;
  transition: 1s, font-size 0.2s;
}

.button:hover,
.button:hover:after {
  background-position: 0;
  font-size: 1.1em;

  color: orangered;
}

@keyframes scrollAnimate {
  100% {
    position: fixed;
    top: 100px;
  }
}

.homeScroll {
  animation-name: scrollAnimate;
  animation-duration: 1s;
  animation-direction: normal;
}
