.Header{
    padding: 10px;
    margin: 10px auto;
}

.MemberName{
    padding: 5px;
    margin: 10px auto;
}

.MemberImage{
    max-width: 50;
    max-height: 50;
    padding: 5px;
    margin: 10px auto;
}

.Background{
    background-image: url("https://www.thinc.in.th/engadmission/img/carousel3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

.MemberBlock{
    text-align: center;
    padding: 5px;
    background-color: rgba(228, 228, 228, 0.95);
    border-radius: 12px;
}