.red {
    color: red
}

.Div{
    width: 95%;
    margin: 10px auto; /*Center Items*/
    padding: 10px;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    border-radius: 12px;
}

.Filter{
    width: 60%;
    margin: 10px auto; /*Center Items*/
    padding: 10px;
    border: 1px solid #eee;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 3px #ccc;
    border-radius: 12px;
}
.Backgroundimg{
    background-image: url("../images/HomePage.png");
    padding: 120px 120px;
}