.homepageheaderbox
{
height: 50%; 
margin-top:0%; 
padding-left: 0; 
width: 50%; 
margin-bottom: 0; 
margin-left: auto;
margin-right: auto;
}
.homepageheaderbox img {
    max-width: 100%;
    height: auto;
    width: auto; /* ie8 */
}
.leads{
  padding-left: 3%;
  font-weight:bold;
  font-size: 50 px;
  font-family: Arial, Helvetica, sans-serif;
}
