.wrapper {
  margin: auto;
  width: 100%;
}
.form-wrapper {
  margin: 20px auto;
  width: 70%;
}
.name,
.surname,
.email,
.password,
.username,
.confirmpassword,
.id,
.drivingnumber,
.tel {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.name {
  margin-top: 30px;
}
.tel {
  margin-bottom: 30px;
}

input.error {
  border: 1px solid red;
}

.errorMessage {
  color: red;
  font-size: 0.75em;
  display: relative;
}
.createAccount {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createAccount button {
  background-color: #519e8a;
  color: #fff;
  border: 2px solid #fff;
  width: 100%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
  margin-bottom: 1em;
}

.createAccount button:hover {
  color: #519e8a;
  background-color: #fff;
  border: 2px solid #519e8a;
}
.choseImage {
  width: 100%;
  height: 100%;
  align-items: center;
}
.choseImage .renter {
  width: 100%;
  height: 44.7vh;
  background-image: url("../images/renter.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: table;
}
.choseImage .user {
  width: 100%;
  height: 44.7vh;
  background-image: url("../images/Cars.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: table;
}

.choseImage .renter .rentertext,
.choseImage .user .usertext {
  font-size: 100px;
  font-weight: 900;
  line-height: 70px;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 8px #111;
  display: table-cell;
  vertical-align: middle;
}

.choseImage .renter:hover .rentertext,
.choseImage .user:hover .usertext {
  color: #111;
  text-shadow: 2px 2px 8px #fff;
}
