.wrapper {
  margin: 20px auto;
  width: 70%;
}
.buttonwrapper {
  margin: 10px auto;
  text-align: center;
}
.cancelbutton {
  margin: 0px auto;
}
.submitbutton {
  margin: 0px 10px;
}

.form-check-label {
  margin-bottom: 0;
  padding: 0;
}
