.wrapper {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 40px;
  width: 80%;
}
.buttonwrapper {
  margin: 10px auto;
  width: 500px;
  text-align: center;
}
.form-wrapper {
  margin: 20px auto;
  width: 70%;
}
.choseImage {
  width: 100%;
  align-items: center;
}
.choseImage .renter {
  width: 100%;
  height: 50%;
  background-image: url("../images/renter.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: table;
  height: 44.5vh;
}
.choseImage .user {
  width: 100%;
  height: 50%;
  background-image: url("../images/Cars.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: table;
  height: 44.4vh;
}

.choseImage .renter .rentertext,
.choseImage .user .usertext {
  font-size: 100px;
  font-weight: 900;
  line-height: 70px;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 8px #111;
  display: table-cell;
  vertical-align: middle;
}

.choseImage .renter:hover .rentertext,
.choseImage .user:hover .usertext {
  color: #111;
  text-shadow: 2px 2px 8px #fff;
}
