.carmanagebackground {
  background-color: rgb(36, 39, 46);
  min-height: 91vh;
}
.carmanagecontainer{
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  width: 750px;
  min-height: 100%;
  height: auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
  color: black;
}


.titleName {
  text-align: center;
  height: 60px;
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: #5E6977;
  font-size: 18px;
  font-weight: 400;
}
.Div {
  width: 95%;
  margin: 10px auto;
  /*Center Items*/
  margin-bottom: 50px;
  padding: 10px;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  border-radius: 12px;
}
s .Filter {
  width: 60%;
  margin: 20px auto;
  /*Center Items*/
  padding: 15px;
  border: 1px solid #eee;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 3px #ccc;
  border-radius: 12px;
}

.Backgroundimg {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

@media (min-width: 200px) and (min-height: 400px) {
  .Backgroundimg {
    padding: 10px 10%;
  }
}

@media (min-width: 600px) and (min-height: 400px) {
  .Backgroundimg {
    padding: 120px 120px;
  }
}
