.Nav {
    background-color: red;
}

.NavLink {
    color: rgba(255, 255, 255, .5);
    padding: 0.5rem 0.5rem;
    display: block;
    text-decoration: none;
    box-sizing: border-box;
}

.NavLink:hover, .NavLink:active {
    color: rgba(255, 255, 255, .75);
    text-decoration: none;
}

.Header {
    color: #fff;
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    text-decoration: none;
    background-color: transparent;
}

.Header:hover {
    color: #fff;
    text-decoration: none;
}