@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);
.DivHeader {
    padding: 5px 0;
    
}
.buttomline{
    border-bottom: 6px solid red;
    
}
.DivHeader .Header {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 800;
    letter-spacing: -3px;
    line-height: 1;
    position: relative;
}

.Detail {
    background-color: white;
    padding: 12px 12px;
}

.imgSize{
    height: 300px;
    width: 300px;
}